<h2>登録が完了しました</h2>

<%= link_to "マイページはこちら", user_weddings_path(@user.id) %>
<div>http://localhost:3000/users/<%= @user.id %>/weddings</div></br>
※URLを控えてください

<%= link_to "グループ登録はこちら", user_communities_path(@user.id) %></br>
※マイページからも登録できます

