<h2>登録が完了しました</h2>
<%#= link_to "トップへ戻る", ""%>
<div>マイページはこちら</div>
<div>http://localhost:3000/users/<%= @user.id %>/posts</div>


<div>グループ登録はこちら</div>
<%= link_to "登録", user_communities_path(@user.id) %>

