
<div class="search-content">
  <%# 名前で検索%>

  <%# 新郎/新婦で絞り込み%>

  <%# タグで絞り込み%>
</div>



<div class="show-guests">
  <%= render partial: "table", locals: { posts: @posts } %>
</div>
<%= link_to "戻る", user_weddings_path(@user.id) %>