<header>
  <div>
    <div class="images">
      <div class="image"></div>
      <div class="image"></div>
      <div class="image"></div>
    </div>
  </div>
</header>

<div class= main>
  <div class="time">
    <div id="countdownArea" class="countdown">
      <span id="countdown-day"></span>日
      <span id="countdown-hour"></span>時間
      <span id="countdown-min"></span>分
      <span id="countdown-sec"></span>秒
    </div>
  </div>

  <div class="invitation">
    <div class="message">
      <h1>WEDDING<br>INVITATION</h1>
      <h3>Hiroaki & Rino</h3>
      <h3>2023 3 25</h3>
      <p>皆様　いかがお過ごしでしょうか</P>
      <p>さて　このたび　私たちは結婚することとなりました</P>
      <p>つきましては　ご挨拶を兼ねて</P>
      <p>ささやかなパーティーを催したいと思います</P>
      <p>この日が皆様にとって楽しい一日になれば幸いです</P>
      <p></P>
    </div>
  </div>

  <div class="answer">
    <div>form</div>
  </div>
</div>