.menu-content {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 80;
  background: linear-gradient(to right, blue, lightblue);
}

.logout {
  margin-top: 70px;
  margin-left: 40px;
  margin-bottom: 35px;
}
.logout a {
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 20px;
}
.logout a:hover {
  background-color: gray;
}
.menu-lists {
  margin-left: 20px;
}
.menu-list a {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}
.menu-list a:hover {
  color: gray;
}

/* ハンバーガー */
.menu-btn {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background: linear-gradient(to right, blue, lightblue);
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}
#menu-btn-check {
  display: none;
}
.menu-content {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 80;
  background-color: gold;
  transition: all 0.5s;/*アニメーション設定*/
  display: none;
}
#menu-btn-check:checked ~ .menu-content {
  display: block;
}