body {
  position: relative;
}

#post_new {
  width: 500px;
  height: 700px;
  border: 5px solid black;
  display: none;
  position: absolute;
  top: 1700px;
  left: 550px;
  background-color: white;
}