  <% communities.each do |community| %>
    <div>
    <%= community.community_name %>
    <%= link_to "[削除]", user_community_path(community.wedding.user.id, community.id), method: :delete, remote: true %>
    </div>
  <% end %>